ci:
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: 'monthly'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    - id: mypy
      files: ^(src|tests)
      args: []
      additional_dependencies:
        - numpy
        - pytest
        - importlib_resources
        - tomli
        - boost-histogram>=1.6.1
        - hist>=2.9.0

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      args: ["-L", "hist,thist,ans,nd,gaus"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|Weighed
        exclude: .pre-commit-config.yaml

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.7.4"
    hooks:
      - id: prettier
        types_or: [json]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-readthedocs
      - id: check-github-workflows
      - id: check-metaschema
        files: ^src/uhi/resources/histogram.schema.json$
      - id: check-jsonschema
        name: Validate Histogram examples
        args: [--schemafile, src/uhi/resources/histogram.schema.json]
        files: ^tests/resources/valid/.*\.json

  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: 2026.01.02
    hooks:
      - id: validate-pyproject
