[tool.poetry]
name = "uhi"
version = "0.1.1"
description = "Unified Histogram Interface: tools to help library authors work with histograms"
authors = [
    "Henry Schreiner <henryschreineriii@gmail.com>",
    "Hans Dembinski <hans.dembinski@gmail.com>",
    "Jim Pivaski <pivarski@princeton.edu>",
]
maintainers = [
    "The Scikit-HEP admins <scikit-hep-admins@googlegroups.com>",
]
homepage = "https://github.com/Scikit-HEP/uhi"
repository = "https://github.com/Scikit-HEP/uhi"
readme = "README.md"
license = "BSD-3-Clause"

classifiers = [
  "Topic :: Scientific/Engineering",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Development Status :: 1 - Planning",
]


[tool.poetry.dependencies]
python = "^3.6"
typing_extensions = { version = "^3.7", python = "<3.8" }

sphinx = {version = "3", optional = true}
sphinx-rtd-theme = { version = "^0.5.1", optional = true }
pytest = { version = "^5.2", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-rtd-theme"]
test = ["pytest"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_config]
addopts = "-rs -s -Wd"
testpaths = [
    "tests",
]
